.vote_bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  .vote_text {
    padding: 0 10px;
  }

  .vote_button {
    &:hover {
      opacity: 0.4;
    }

    img {
      height: 24px;
      cursor: pointer;
    }
  }
}
