@import "base.scss";

.container {
  position: relative;

  a {
    text-decoration: none;
  }

  .verified_container {
    position: absolute;
    top: 20px;
    right: 20px;

    .verified_icon {
      color: $color-green;
      background-color: $color-white;
    }
  }

  .details {
    color: $color-grey-dark;
  }
}
