@import "base.scss";

.container {
  position: relative;

  .verified_container {
    position: absolute;
    top: 20px;
    right: 20px;

    .verified_icon {
      color: $color-green;
      background-color: $color-white;
    }
  }

  .reply_toggle {
    cursor: pointer;
    color: $color-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .reply_input {
    height: 60px;
    margin-bottom: 20px;
  }

  .replies_container {
    border-top: 1px solid $color-stroke;
  }
}
