@import "base.scss";

.topbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: $color-primary;
  color: $color-white;
  z-index: 100;

  a {
    color: $color-white;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;

    > * {
      padding-left: 20px;
      padding-right: 20px;
    }

    .search_bar {
      max-width: 720px;
      border-radius: 5px;
    }
  }
}
