$color-primary: #80DEEA;
$color-primary-light: #B4FFFF;
$color-primary-dark: #4BACB8;
$color-stroke: #CCCCCC;
$color-grey: #808080;
$color-grey-dark: #565656;
$color-green: #5EBA7D;
$color-blue: #0095FF;
$color-white: #FFFFFF;
$color-black: #000000;
