$color-primary: #80deea;
$color-primary-light: #b4ffff;
$color-primary-dark: #4bacb8;
$color-stroke: #cccccc;
$color-grey: #808080;
$color-grey-light: #efefef;
$color-grey-dark: #565656;
$color-green: #5eba7d;
$color-blue: #0095ff;
$color-white: #ffffff;
$color-black: #000000;
$color-background: #dae0ec;
