$color-primary: #30353d;
$color-primary-light: #595f67;
$color-primary-dark: #080f17;
$color-stroke: #cccccc;
$color-grey: #808080;
$color-grey-light: #e4e6e6;
$color-grey-dark: #565656;
$color-green: #5eba7d;
$color-blue: #0095ff;
$color-white: #ffffff;
$color-black: #000000;
$color-background: #f9f9f9;
