@import "base.scss";

.container {
  position: relative;

  .title {
    width: 80%;
  }

  .join {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .button_join {
    background-color: $color-primary-dark;
  }

  .icon_joined {
    color: $color-primary-dark;
  }
}
