@import "base.scss";

.container {
  display: flex;
  position: relative;

  .avatar {
    width: 80px;
    padding-right: 20px;
  }

  .details {
    flex-grow: 1;
    padding-right: 20px;

    >:not(:nth-last-child(1)) {
      margin-bottom: 10px;
    }

    .score {
      color: $color-grey;
    }
  }

  .type_container {
    position: relative;

    .container {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
